# Count Entity

In [214]:

import re

import pandas as pd
import numpy as np
import os

import seaborn as sns
from matplotlib import pyplot as plt

In [257]:
def count_entity(file):
    entity = []
    merge_entity = []
    tmp = ''
    # file = 'entity-tag/AskWhereHRRoomIs.csv'
    with open(file, 'r') as f:
        for word in f:
            word = word.split()
            for x in word:
                x = x.split()
                for i in x:
                    if '/' in i:
                        # print(i)
                        entity.append(i)
    for j in range(len(entity)):
        if ('/B-' in entity[j]):
            tmp = entity[j]
            merge_entity.append(tmp)
        if ("/I-" in entity[j]):
            tmp = merge_entity[-1] + ' ' + entity[j]
            merge_entity[-1] = tmp
    entity_name = []
    entity_type = []
    for j in range(len(entity)):
        if ('/B-' in entity[j]):
            x = entity[j]
            tmp = x.split('/')
            entity_name.append(tmp[0])
            entity_type.append(tmp[1])
            merge_entity.append(tmp[0])
        if ("/I-" in entity[j]):
            x = entity[j]
            y = x.split('/')
            tmp = merge_entity[-1] + ' ' + y[0]
            merge_entity[-1] = tmp
            entity_name[-1] = tmp
            entity_type[-1] = y[1]
    entity_df = pd.DataFrame([entity_name,entity_type], index=['Object', 'Entity']).T
    entity_df[["x", 'Entity']] = entity_df["Entity"].str.split("-", 1, expand=True)
    entity_df.drop(['x'], axis=1, inplace=True)
    entity_df.duplicated()
    entity_df['Count'] = 1
    final_count = entity_df.groupby(['Object','Entity']).Count.count().reset_index()
    final_count
    return final_count
count_entity('entity-tag/AskHowToComplain.csv')

                     Object Entity  Count
0                   Rathana    PER    291
1                     Vitou    PER    291
2                     ដាណីត    PER    291
3                   រដ្ឋាណា    PER    291
4                      លីតា    PER    291
5                      វីទូ    PER    291
6                     សាមឌី    PER    291
7                 សាលា CADT    ORG    429
8            សាលា សុីអេឌីធី    ORG    429
9                    សុខលាភ    PER    291
10                អាគារ IDT  BUILD    429
11  អាគារ Innovation Center  BUILD    429
12            អាគារ អាយឌីធី  BUILD    429
13  អាគារ អុីនូវេសិន សែនធឺរ  BUILD    429

In [258]:
# entity = []
# merge_entity = []
# tmp = ''
# with open("entity-tag/AskWhetherJobAnnoucementExist.csv", 'r') as f:
#     for word in f:
#         word = word.split()
#         for x in word:
#             x = x.split()
#             for i in x:
#                 if '/' in i:
#                     # print(i)
#                     entity.append(i)
# for j in range(len(entity)):
#     if ('/B-' in entity[j]):
#         tmp = entity[j]
#         merge_entity.append(tmp)
#     if ("/I-" in entity[j]):
#         tmp = merge_entity[-1] + ' ' + entity[j]
#         merge_entity[-1] = tmp
# entity_name = []
# entity_type = []
# for j in range(len(entity)):
#     if ('/B-' in entity[j]):
#         x = entity[j]
#         tmp = x.split('/')
#         entity_name.append(tmp[0])
#         entity_type.append(tmp[1])
#         merge_entity.append(tmp[0])
#     if ("/I-" in entity[j]):
#         x = entity[j]
#         y = x.split('/')
#         tmp = merge_entity[-1] + ' ' + y[0]
#         merge_entity[-1] = tmp
#         entity_name[-1] = tmp
#         entity_type[-1] = y[1]
# entity_df = pd.DataFrame([entity_name,entity_type], index=['Object', 'Entity']).T
# entity_df[["x", 'Entity']] = entity_df["Entity"].str.split("-", 1, expand=True)
# entity_df.drop(['x'], axis=1, inplace=True)

# entity_df.duplicated()
# entity_df
# entity_df['Count'] = 1
# final_count = entity_df.groupby(['Object','Entity']).Count.count().reset_index()

# final_count

# # print("Entity")
# # from tabulate import tabulate
# # print(tabulate(pd.DataFrame(entity_df["Object"].value_counts())))